* {box-sizing:border-box}

body {
    font-family: sans-serif;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
}

header {
    background-color: rgb(11, 94, 11);
    padding: 10px;
    text-align: left;
    z-index: 1;
    
}

h1 {
    font-family: karla;
    color:antiquewhite;
    font-size: 50px;
}

nav {
    background-color: rgb(11, 94, 11);
    font-family: karla;
    font-size: 25px;
    color: antiquewhite;
    display: flex;
    justify-content: right;
    padding: 5px; 
}

footer {
    background-color: rgb(11, 94, 11);
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.nav-link {
    color:antiquewhite;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}

.footer-link {
    color:antiquewhite;
}

.contentfocus {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* .contentitem img header{
    height: 300px;
    width: 450px;
    padding: 10px;
} */

.appImage {
    height: 400px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: rgb(11, 94, 11);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: rgb(11, 94, 11);
}

#wilson {
    font-family: Dancing Script;
    font-size: 55px;
}

#weatherApp {
    align-content: flex-end;
}

#panda {
    justify-content: center;
    display: flex;
    width: 300px;
    height: 300px;
    padding: 10px;
}

#introduction {
    font-family: karla;
    text-align: center;

}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }